.chat {
  width: 100%;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  display: table;
  margin: auto;
}

.chat .hide {
  display: none;
}

.chat .rtail {
  color: #212121;
  border: 2px solid #dedede;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.chat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.rtime {
  color: #aaaaac;
  font-size: 60%;
  float: right;

}

.chat .stail {
  color: #212121;
  border: 2px solid #dedede;
  background-color: #F5CCD4;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.chat .stime {
  color: #aaaaac;
  font-size: 60%;
  float: left;
}
