.chat {
  width: 100%;
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  display: table;
  margin: auto;
}

.chat .hide {
  display: none;
}

.chat .rtail {
  float: left;
  color: #212121;
  margin: 0em 0em 0.5em 0.5em;
  border-radius: .5em;
  padding: 0.5em 1em;
  background: #ddd;
  max-width: 60%;
  clear: both;
  position: relative;
}

.chat .rtime {
  color: #aaaaac;
  font-size: 60%;
  font-weight: lighter;
  font-stretch: ultra-condensed;
  float: left;
  position: relative;
  clear: both;
  margin: -.25em 0em 0.5em 0em;
  padding: 0 1em 0.5em;
}

.chat .stail {
  float: right;
  color: #212121;
  margin: 0em 0.5em 0.5em 0em;
  border-radius: .5em;
  padding: 0.5em 1em;
  background: #F5CCD4;
  max-width: 60%;
  clear: both;
  position: relative;
}

.chat .stime {
  color: #aaaaac;
  font-size: 60%;
  font-weight: lighter;
  font-stretch: ultra-condensed;
  float: right;
  position: relative;
  clear: both;
  margin: -.25em 0em 0.5em 0em;
  padding: 0 1em 0.5em;
}
