body {
  font-family: Trebuchet MS, Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0.5em;
}

blockquote {
  border: 2px solid #DADADA;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

hr.solid {
  border-top: 3px solid #F5CCD4;
}
