@import url(//db.onlinewebfonts.com/c/0e2ef4c0c8cded65ed82e92ba4369ca2?family=Overpass);

body {
  font-family:'Overpass';
  font-size:14px;
  color:#ffffff;
  background-color: #222222;
  line-height: 160%;
  letter-spacing: 0.2px;
}

a {
  color:#ffffff;
  text-decoration:none;
}

h1 {
  color:#e00000;
  text-transform:uppercase;
  margin-bottom:.25em;
  display:block;
}
